//@import "~bulma"
@import "~bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: 300px;
$body-background-color: #fcfafc
$column-gap: 0.3rem
@import "~bulma/bulma.sass";

body
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-display: swap

input
    border: 0
    background: transparent
    border-bottom: 1px solid hsl(0, 0%, 48%);
    width: 5rem

textarea:focus, input:focus
    outline: none;


form
    display: flex

#search-input
    cursor: auto

.select select
    background-color: transparent

#sceneWrapper
    position: relative
    width: 100vw
    height: 100vh

#sortBy, #filter
    border: none
    margin-left: 0.5rem

#sortBy
    justify-self: start

#filter
    justify-self: end

.hero-body
    padding: 0.5rem
    &.padded
        padding: 4rem 1.5rem
    
.navbar
    display: flex
    align-content: center
    width: 100%
    background: transparent
    &-item
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
        cursor: pointer
        background: transparent
        transition: color 0.3s ease-in-out
        :hover
            color: #FF69B4
    &-start
        @extend .navbar
        margin-left: 0.5rem
    &-end
        @extend .navbar
        margin-right: 0.5rem

.navbar.is-absolute
    position: absolute

.hotpink
    color: hotpink

.link-button 
  background-color: transparent
  border: none
  cursor: pointer
  text-decoration: underline
  display: inline
  margin: 0
  padding: 0

.link-button:hover, .link-button:focus
    text-decoration: none

.img-shop
    padding: 5px

.img-shop :hover
    padding: 0px 

.shopping-bag-quantity
    position: absolute
    top: 8px
    right: 2px
    width: 15px
    box-sizing: content-box
    height: 15px
    text-align: center
    color: white
    font-size: 10px
    line-height: 15px
    background-color: red
    border-width: 1px
    border-style: solid
    border-color: white
    border-image: initial
    border-radius: 20px

.imgProduct
    animation-name: fadeIn
    animation-duration: 1s

@keyframes fadeIn 
    from
        opacity: 0.3

    50%
        opacity: 1

.box 
  background-color: white;
  border-radius: 6px;
  color: #4a4a4a;
  display: block;
  padding: 1.25rem; 

.productBox
    &.out-of-stock
        opacity: 0.6
        &:hover
            opacity: 0.6
    opacity: 1.0
    transition: opacity 0.3s ease-in-out
    &:hover
        opacity: 0.8

.navbar-item :hover
    opacity: 0.8

.fromleft
    animation-name: FromLeft
    animation-duration: 2.5s

@keyframes FromLeft 
    from
        opacity: 0.7
        transform: translate3d(100%, 0, 0)
    50%
        opacity: 1
        transform: translate3d(0, 0, 0)

.allpictures
    animation-name: zoomIn
    animation-duration: 2.5s
    flex-direction: row

@media only screen and (max-width:770px)
    .allpictures
        flex-direction: column
        width: 1

    .box
        padding: 0
        box-shadow: none
